.header{
  height: 100px;
background: grey;
text-align: center;
}

.wrapper{
overflow: hidden;
text-align: center;
}

.content{
  background: lightblue;
  height: 300px;
  width: 75%;
  float: left;
}

.blog{
background: mediumseagreen;
height: 300px;
width: 25%;
float: right;
}

.subcontent{
text-align: center;
float: left;
width: 25%;
height: 100px;
}

.pink{background: lightpink;

}

.green{
background: limegreen;
}

.brown{background: brown;

}

.red{background: red;

}


.footer{
  background: black;
  height: 150px;
  text-align: center;
  color: white;
}